@model SogetiStaffingPlanner.Models.Opportunity

@{
    ViewBag.Title = "SetthisViewsOpportunity";
}


<html>
<head>
    <title>SetthisViewsOpportunity</title>
</head>

<body>
    <div>
        <h3> OpportunityID: @Model.OpportunityId </h3>
        <h3> ClientID: @Model.ClientId </h3>
        <h3> OpportunityNAME: @Model.OpportunityName </h3>
        <h3> OpportunityNotes: @Model.OpportunityNotes </h3>
        <h3> ClientContact: @Model.ClientContact </h3>

    </div>
</body>
</html>


