<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*  <title>@ViewBag.Title - My ASP.NET Application</title>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="../../Scripts/axios.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Content/Site.css">
    <script type="text/javascript"
            src="../../Scripts/vue.min.js"></script>
    <title>Sogeti Staffing Planner</title>

</head>
<body>
    <div class='navBar'>
        <div id="logoContainer">
            <img class='navLogo' src="../../Images/logo.png" width='200px'>
        </div>
        <div id="navContainer">
            <!--<span class='navTitle'>Staffing Planner</span>-->
            <ul class='navItems'>
                <li><a href="/">Home</a></li>
                <li><a href="/clients/">Clients</a></li>
                <li><a href="/positions/">Positions</a></li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br /><br />
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sogeti</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
