<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="../../Scripts/axios.js"></script>
    <script type="text/javascript" src="../../Scripts/vue.min.js"></script>
</head>
<body>
    <div class='navBar'>
        <div id="logoContainer">
            <img class='navLogo' src="../../Images/logo.png" width='200px'>
        </div>
        <div id="navContainer">
            <!--<span class='navTitle'>Staffing Planner</span>-->
            <ul class='navItems'>
                <li>HOME</li>
                <li>ACCOUNTS</li>
                <li>PROJECTS</li>
                <li>OPPORTUNITIES</li>
                <li>REPORTS</li>
                <li>CONTACT</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
