@model SogetiStaffingPlanner.Models.Client

@{

ViewBag.Title = "Create";
}

<div style=" font-family:Arial">

    <h2>Create</h2>

    @using (Html.BeginForm()) {
    
      @Html.ValidationSummary(true)

    <fieldset>
         <legend>Client</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.ClientName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClientName)
            @Html.ValidationMessageFor(model => model.ClientName)
        </div>

        <div class=" editor-label">
            @Html.LabelFor(model => model.ClientSubbusiness)
        </div>
        <p>
            <input type="submit" value="Create"/>
            </p>
    </fieldset>

    <div>
        @Html.ActionLink("Back to List", Index)
    </div>
 
    }





</div>